In [1]:
import warnings

warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
!pip install tensorflow-addons

Requirement already satisfied: tensorflow-addons in c:\users\admin\anaconda3\lib\site-packages (0.22.0)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-addons) (21.3)
Requirement already satisfied: typeguard<3.0.0,>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-addons) (2.13.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging->tensorflow-addons) (3.0.9)

In [4]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\admin\anaconda3\lib\site-packages (2.15.0)
Requirement already satisfied: tensorflow-intel==2.15.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow) (2.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.60.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.31.0)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.23.4)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.0.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.7.0)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.5.4)
Requirement already satisfied: tensorboard<2.16,>=2.15 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.1)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (23.5.26)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (63.4.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.3.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (21.3)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.26.3)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.4.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.6.3)
Requirement already satisfied: libclang>=13.0.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (16.0.6)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.14.1)
Requirement already satisfied: six>=1.12.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\admin\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.2.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.26.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.28.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\admin\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.7.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.15.0->tensorflow) (3.0.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (5.3.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\admin\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\admin\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\admin\anaconda3\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2022.9.14)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\admin\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.2.2)

In [5]:
df=pd.read_csv("HR_clean.csv")
df.head(10)

,Unnamed: 0,satisfaction_level,last_evaluation_score,project_count,average_monthly_hours,years_of_working,workplace_acciedent_count,employment_status,promotion_last_5years,department,salary_range,Score_variance
0,0,0.38,0.53,2,157,3,0,1,0,sales,low,0.15
1,2,0.11,0.88,7,272,4,0,1,0,sales,medium,0.77
2,3,0.72,0.87,5,223,5,0,1,0,sales,low,0.15
3,4,0.37,0.52,2,159,3,0,1,0,sales,low,0.15
4,5,0.41,0.50,2,153,3,0,1,0,sales,low,0.09
5,6,0.10,0.77,6,247,4,0,1,0,sales,low,0.67
6,7,0.92,0.85,5,259,5,0,1,0,sales,low,-0.07
7,8,0.89,1.00,5,224,5,0,1,0,sales,low,0.11
8,9,0.42,0.53,2,142,3,0,1,0,sales,low,0.11
9,10,0.45,0.54,2,135,3,0,1,0,sales,low,0.09

In [6]:
df.columns

Index(['Unnamed: 0', 'satisfaction_level', 'last_evaluation_score',
       'project_count', 'average_monthly_hours', 'years_of_working',
       'workplace_acciedent_count', 'employment_status',
       'promotion_last_5years', 'department', 'salary_range',
       'Score_variance'],
      dtype='object')

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
df.columns

Index(['satisfaction_level', 'last_evaluation_score', 'project_count',
       'average_monthly_hours', 'years_of_working',
       'workplace_acciedent_count', 'employment_status',
       'promotion_last_5years', 'department', 'salary_range',
       'Score_variance'],
      dtype='object')

## Build a model (ANN) in tensorflow/keras

In [9]:
df1= pd.get_dummies(data=df, columns=["department", "salary_range"])
df1.columns

Index(['satisfaction_level', 'last_evaluation_score', 'project_count',
       'average_monthly_hours', 'years_of_working',
       'workplace_acciedent_count', 'employment_status',
       'promotion_last_5years', 'Score_variance', 'department_IT',
       'department_RandD', 'department_accounting', 'department_hr',
       'department_management', 'department_marketing',
       'department_product_mng', 'department_sales', 'department_support',
       'department_technical', 'salary_range_high', 'salary_range_low',
       'salary_range_medium'],
      dtype='object')

In [10]:
df1.sample(5)

,satisfaction_level,last_evaluation_score,project_count,average_monthly_hours,years_of_working,workplace_acciedent_count,employment_status,promotion_last_5years,Score_variance,department_IT,...,department_hr,department_management,department_marketing,department_product_mng,department_sales,department_support,department_technical,salary_range_high,salary_range_low,salary_range_medium
7829,0.99,0.50,5,214,2,0,0,0,-0.49,0,...,0,0,0,0,0,0,1,0,1,0
6500,0.29,0.47,5,139,4,0,0,0,0.18,0,...,0,0,0,0,1,0,0,0,1,0
2255,0.54,0.69,3,141,4,0,0,0,0.15,0,...,0,0,0,0,1,0,0,0,1,0
9858,0.64,0.43,5,269,3,0,0,0,-0.21,0,...,0,0,0,0,1,0,0,0,0,1
4241,0.63,0.56,4,228,3,0,0,0,-0.07,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df1.dtypes

satisfaction_level           float64
last_evaluation_score        float64
project_count                  int64
average_monthly_hours          int64
years_of_working               int64
workplace_acciedent_count      int64
employment_status              int64
promotion_last_5years          int64
Score_variance               float64
department_IT                  uint8
department_RandD               uint8
department_accounting          uint8
department_hr                  uint8
department_management          uint8
department_marketing           uint8
department_product_mng         uint8
department_sales               uint8
department_support             uint8
department_technical           uint8
salary_range_high              uint8
salary_range_low               uint8
salary_range_medium            uint8
dtype: object

In [12]:
x = df.drop("employment_status", axis=1)
y = df["employment_status"]


from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=15, stratify=y)

In [13]:
y_train.value_counts()

0    7428
1    1505
Name: employment_status, dtype: int64

In [14]:
y.value_counts()

0    9285
1    1882
Name: employment_status, dtype: int64

In [15]:
9285/1882

4.9335812964930925

In [16]:
x_train.shape

(8933, 10)

In [17]:
x_test.shape

(2234, 10)

In [18]:
x_train[:10]

,satisfaction_level,last_evaluation_score,project_count,average_monthly_hours,years_of_working,workplace_acciedent_count,promotion_last_5years,department,salary_range,Score_variance
7436,0.61,0.89,2,287,4,0,0,sales,medium,0.28
6652,0.81,0.86,5,159,2,0,0,accounting,medium,0.05
10200,0.16,0.83,5,173,4,0,0,IT,high,0.67
8824,0.96,0.95,4,265,2,0,0,sales,low,-0.01
13,0.36,0.56,2,137,3,0,0,sales,low,0.20
8670,0.85,0.78,3,165,4,0,0,marketing,medium,-0.07
5684,0.99,0.59,3,163,2,0,0,sales,medium,-0.40
7367,1.00,0.84,3,215,2,0,0,sales,medium,-0.16
9809,0.57,0.58,3,251,2,0,0,support,high,0.01
10260,0.97,0.83,3,238,2,0,0,support,medium,-0.14

## ANN model

In [19]:
from tensorflow_addons import losses

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [20]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

In [23]:
def ANN(x_train, y_train, x_test, y_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(26, input_dim=26, activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(x_train, y_train, epochs=100)
    else:
        model.fit(x_train, y_train, epochs=100, class_weight = weights)
    
    print(model.evaluate(x_test, y_test))
    
    y_preds = model.predict(x_test)
    y_preds = np.round(y_preds)
    
    print("Classification Report: \n", classification_report(y_test, y_preds))
    
    return y_preds

In [24]:
y_preds = ANN(x_train, y_train, x_test, y_test, 'binary_crossentropy', -1)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).