In [5]:
import pandas as pd

In [7]:
#Importing data 
dat = pd.read_csv("C:\\Users\\Admin\\Desktop\\pokemon_data.csv")

In [8]:
print(dat)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [25]:
#Read headers
dat.columns

#Reading specific columns

dat["Name"]

#or 

#print(dat.Name)


#Reading Munliple columns

print(dat[["Name", "Type 1", "Defense"]])

                      Name   Type 1  Defense
0                Bulbasaur    Grass       49
1                  Ivysaur    Grass       63
2                 Venusaur    Grass       83
3    VenusaurMega Venusaur    Grass      123
4               Charmander     Fire       43
..                     ...      ...      ...
795                Diancie     Rock      150
796    DiancieMega Diancie     Rock      110
797    HoopaHoopa Confined  Psychic       60
798     HoopaHoopa Unbound  Psychic       60
799              Volcanion     Fire      120

[800 rows x 3 columns]

In [37]:
#Reading each row
#print(dat.iloc[1:4])

#iterating through each row

#for index,row in dat.iterrows():
    #print(index, row)

    
# Getting specific colimn in each row (name from each row)

#for index,row in dat.iterrows():
#    print(index, row["Name"])

##Printing specific row position

#print(dat.iloc[2,1])

#Grooping ...printing rows with specific column characteristic

dat.loc[dat["Type 1"] == "Fire"]

# check multiple condition of loc function.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [38]:
dat.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [48]:
# Soerting values

#dat.sort_values("Name",)

#dat.sort_values("Name", ascending=False)

#dat.sort_values(["Name", "HP"], ascending=False)


dat.sort_values(["Type 1", "HP"], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [49]:
#MAKING CHANGES
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [63]:
#Adding another column

dat["Total"] = dat["HP"] + dat["Attack"] + dat["Defense"] + dat["Sp. Atk"] + dat["Sp. Def"] + dat["Speed"]

dat.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314

In [61]:
# how to drop a column
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [65]:
#Dropping a column.
dat=dat.drop(columns=["Total"])
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [68]:
# Add column in a different way
#:, ....all rows
# go to the next one ..ie from 4 to 10
dat["Total"] = dat.iloc[:, 4:10].sum(axis=1)
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [74]:
#changing a location of a column
cols = list(dat.columns.values)   # creating a list witth the column element

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Legendary,Legendary,Legendary,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,False,False,False,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,False,False,False,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False,False,False,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,False,False,False,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False,False,False,False,1

In [75]:
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Legendary,Legendary,Legendary,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,False,False,False,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,False,False,False,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False,False,False,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,False,False,False,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False,False,False,False,1

In [77]:

dat=dat.drop(dat.columns[[10,12]],axis=1)

In [78]:
dat.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1

In [79]:
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\pokemon_data.csv")

In [80]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [81]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)

In [82]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [84]:
cols = list(df.columns.values)
print(cols)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

In [86]:
df1 = df[cols[0:9] + [cols[-1]]+cols[9:12]]

In [87]:
df1.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,309,65,1,False

In [88]:
#changing column position
df2 = df[cols[0:10] + [cols[-1]]+cols[10:12]]

In [89]:
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [94]:
df2.to_csv("C:\\Users\\Admin\\Desktop\\Modified2.csv", index=False)

In [97]:
#Filtering Data

df2.loc[(df2["Type 1"] == "Grass" ) & (df2["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,395,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,300,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,390,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,400,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,280,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,515,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,294,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [98]:
df2.loc[(df2["Type 1"] == "Grass" ) |(df2["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,195,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False

In [100]:
df2.loc[(df2["Type 1"] == "Grass" ) & (df2["Type 2"] == "Poison") & (df2["Total"] > 350)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,395,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,390,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,400,3,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,515,4,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [105]:
# how to reset index
#Conditional changing 
#Aggeregate statistics (Group By)
df2.groupby(["Type 1"]).mean().sort_values("Defense", ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408

In [106]:
df2.groupby(["Type 1"]).mean().sort_values("Attack", ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824

In [107]:
df2.groupby(["Type 1"]).mean().sort_values("Defense", ascending=False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112